<section class="bg-white dark:bg-gray-900 py-16">
    <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ 'TECHNOLOGY.TITLE'
                | translate }}</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">{{ 'TECHNOLOGY.SUBTITLE' |
                translate }}</p>
        </div>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-4 dark:text-gray-400">
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">Angular
                    17+</span>
            </div>
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">Spring
                    Boot</span>
            </div>
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">Java
                    11/17</span>
            </div>
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">PostgreSQL /
                    H2</span>
            </div>
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">Tailwind
                    CSS</span>
            </div>
            <div class="flex items-center justify-center">
                <span
                    class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">Docker</span>
            </div>
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">JWT
                    Security</span>
            </div>
            <div class="flex items-center justify-center">
                <span class="text-xl font-bold hover:text-gray-900 dark:hover:text-white transition-colors">REST
                    API</span>
            </div>
        </div>
    </div>
</section>